@font-face {
  font-family: "custom-font"; /* Project id 2806438 */
  src: url('//at.alicdn.com/t/font_2806438_lqvrsc99vx.woff2?t=1635216199231') format('woff2'),
       url('//at.alicdn.com/t/font_2806438_lqvrsc99vx.woff?t=1635216199231') format('woff'),
       url('//at.alicdn.com/t/font_2806438_lqvrsc99vx.ttf?t=1635216199231') format('truetype');
}


/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.i-icon {
  display: inline-block;
  font-family: 'custom-font' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-xinshenqing:before {
  content: "\e64e";
}

.icon-tianshenpi:before {
  content: "\eb67";
}

.icon-shenqingguanli:before {
  content: "\e64f";
}

.icon-renwujincheng:before {
  content: "\ec35";
}

.icon-anniuquanxian-02:before {
  content: "\e60d";
}

.icon-cunchu-02:before {
  content: "\e60e";
}

.icon-anniuguanli-02:before {
  content: "\e60f";
}

.icon-fangwenjilu-02:before {
  content: "\e610";
}

.icon-heimingdan-02:before {
  content: "\e611";
}

.icon-chanpinwentihuizong-02:before {
  content: "\e612";
}

.icon-rizhiguanli-02:before {
  content: "\e613";
}

.icon-qiyebanguanli-02:before {
  content: "\e614";
}

.icon-jiaose-02:before {
  content: "\e615";
}

.icon-tongjifenxi-02:before {
  content: "\e617";
}

.icon-tongzhigonggao-02:before {
  content: "\e618";
}

.icon-quanxianguanli-02:before {
  content: "\e619";
}

.icon-jiejuefangan-02:before {
  content: "\e61a";
}

.icon-meiyuemubiaofenxi-02:before {
  content: "\e61b";
}

.icon-yonghuguanli-02:before {
  content: "\e61c";
}

.icon-shujuzidian-02:before {
  content: "\e61d";
}

.icon-xitongguanli-02:before {
  content: "\e61e";
}

.icon-rizhoubao-02:before {
  content: "\e61f";
}

.icon-zuzhishujuquanxian-02:before {
  content: "\e620";
}

.icon-mianshixinxi-02:before {
  content: "\e621";
}

.icon-shenqingshenpi-02:before {
  content: "\e622";
}

.icon-renwuguanli-02:before {
  content: "\e623";
}

.icon-wenjianguanli-02:before {
  content: "\e624";
}

.icon-ziyuanguanli-02:before {
  content: "\e625";
}

.icon-youhuihuodong-02:before {
  content: "\e627";
}

.icon-yejifenxi-02:before {
  content: "\e628";
}

.icon-gongzuoliucheng-02:before {
  content: "\e629";
}

.icon-zuzhijigou-02:before {
  content: "\e62a";
}

.icon-qiyebanliebiao-02:before {
  content: "\e62b";
}

.icon-shipinxilie-02:before {
  content: "\e62c";
}

.icon-zhanghaoshouquan-02:before {
  content: "\e62d";
}

.icon-chanpinliebiao-02:before {
  content: "\e62e";
}

.icon-jiejuefangan1-02:before {
  content: "\e62f";
}

.icon-xiaoshoubangdan-02:before {
  content: "\e630";
}

.icon-xitongyonghu-02:before {
  content: "\e631";
}

.icon-yuangongguanli-02:before {
  content: "\e632";
}

.icon-daichulikehuguanli-02:before {
  content: "\e633";
}

.icon-kehuluruguanli-02:before {
  content: "\e634";
}

.icon-guanyuwomen1-02:before {
  content: "\e635";
}

.icon-shujukubeifen-02:before {
  content: "\e636";
}

.icon-xinwendongtai-02:before {
  content: "\e637";
}

.icon-beifendingshiqi-02:before {
  content: "\e638";
}

.icon-shujukuguanli-02:before {
  content: "\e639";
}

.icon-xinwenliebiao-02:before {
  content: "\e63a";
}

.icon-kehudanganziliao-02:before {
  content: "\e63b";
}

.icon-guanyuwomen-02:before {
  content: "\e63c";
}

.icon-shujukuhuanyuan-02:before {
  content: "\e63d";
}

.icon-caidanguanliai-02:before {
  content: "\e63e";
}

.icon-kehuguanli-02:before {
  content: "\e63f";
}

.icon-oabangong-02:before {
  content: "\e641";
}

.icon-SQLbianjiqi-02:before {
  content: "\e642";
}

.icon-cunchu-021:before {
  content: "\e643";
}

.icon-moxingguanli-02:before {
  content: "\e644";
}

.icon-liuchengguanli-02:before {
  content: "\e645";
}

.icon-tianjiajinsheng-02:before {
  content: "\e646";
}

.icon-qingjiashenqing-02:before {
  content: "\e647";
}

.icon-youhuishenqing-02:before {
  content: "\e648";
}

.icon-shengridingshiqi-02:before {
  content: "\e649";
}

.icon-yunhangzhongliucheng-02:before {
  content: "\e64a";
}

.icon-lishideliucheng-02:before {
  content: "\e64b";
}

.icon-tupianpachong-02:before {
  content: "\e64c";
}

.icon-tupianliebiao-02:before {
  content: "\e64d";
}

.icon-chenggong:before {
  content: "\e608";
}

.icon-jiantou_xiangyouliangci:before {
  content: "\eb09";
}

.icon-jiantou_yemian_xiangyou:before {
  content: "\eb0b";
}

.icon-jiantou_yemian_xiangyou_o:before {
  content: "\eb93";
}

.icon-tongzhi:before {
  content: "\e626";
}

.icon-zanwushuju:before {
  content: "\e73b";
}

.icon-tongzhi1:before {
  content: "\e68f";
}

.icon-zu1575:before {
  content: "\e640";
}

.icon-zanwushuju1:before {
  content: "\e616";
}
