.main {
  .header-con{
    background: #fff;
    padding: 0 20px;
    width: 100%;
  }
  .main-layout-con{
    height: 100%;
    overflow: hidden;
  }

  .main-content-con{
    height: ~"calc(100% - 64px)";
    overflow: hidden;
    background-color: rgb(145, 145, 160)!important;
  }
  .content-wrapper{
    padding: 18px;
    height: ~"calc(100% - 64px)";
    overflow: auto;
    // height: 300px
  }
}
