@import '~view-design/dist/styles/iview.css';
// @import '~view-design/src/styles/index.less';
// @import './my-theme/index.less';
@import './assets/iconfont/iconfont.css';
@import '../src/assets/css/global.css';

// @menu-dark-title: #001529;
@primary-color: 3582fb;
// @menu-dark-active-bg: #e90303;
@layout-sider-background: #001529;
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.ivu-layout-header {
  background: #fff;
  padding: 0 10px; 
  height: 50px;
  line-height: 50px;
}
.side-menu-wrapper {
  height: 100%;
 .ivu-menu {
    width: 100%;
    height: 100%;
  }
}
.ivu-btn-circle, .ivu-btn-circle-outline {
  border-radius: 32px;
}
.ivu-btn-small {
  height: 20px;
  font-size: 12px;
  padding: 0px 12px;
  line-height: 1;
}


 .ivu-form-item {
     vertical-align: top;
     zoom: 1;
      line-height: 55px; 

 }
// }